<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>Like Me?</title>
    <meta name="apple-mobile-web-app-title" content="Like Me?" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" id="themeColor" content="#f0f0f0" />

    <meta name="keywords" content="Like Me?, Big Tent Games, Games, Free, FullyFree" />
    <meta name="description" content="What in this whole world is like me?" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Like Me?" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:description" content="A game of matching likenesses." />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://likeme.games" />
    <meta property="og:image" content="https://likeme.games/images/likeme_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="images/icon180.png" />
    <!-- iPhone X (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="images/apple-launch-1125x2436.png" />
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="images//apple-launch-750x1334.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="favicon.png?3841" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?3841" />

    <link rel="manifest" href="manifest.webmanifest" />

    <link rel="stylesheet" href="styles/likeme.css" media="screen" />
  </head>

  <body>
    <wallpaper onclick="app.ClearEphemeralVisualStates()"></wallpaper>
    <app id="app" v-cloak :class="{challenge: appVisualStateShowPageChallenge, tutorial: appTutorialIsInPlay}">
      <link v-if="userSettingsUseDarkMode" rel="stylesheet" href="styles/likeme-darkmode.css" media="screen" />
      <link v-if="userSettingsUseCats" rel="stylesheet" href="styles/cats-likeme.css" media="screen" />
      <link v-if="userSettingsUseAltPatterns" rel="stylesheet" href="styles/altpattern1.css" media="screen" />
      <link v-if="userSettingsUseCats && userSettingsUseDarkMode" rel="stylesheet" href="styles/cats-likeme-darkmode.css" media="screen" />
      <notification @pointerdown="appVisualStateShowNotification = false" :class="{show: appVisualStateShowNotification}">
        <message v-html="appNotificationMessage"></message>
      </notification>
      <page :class="{show: appVisualStateShowPageHome}" @pointerdown="appVisualStateShowNotification = false;">
        <button v-if="newVersionAvailable" title="There is an update available. Click to apply the update." class="quaternary pulse update inline small" @click="HandleUpdateAppButtonClick">New Update<icon class="download"></icon></button>
        <content>
          <section>
            <h1>Like Me?</h1>
            <p>{{ userSettingsUseCats ? 'A game of matching cat likenesses.' : 'A game of matching likenesses.'}}</p>
          </section>
          <section>
            <modes>
              <mode v-for="mode in appSettingsModes" :class="{selected: mode.isSelected}">
                <piece :title="mode.name + ' mode. ' + mode.description + ' Click to select.'" @click="SelectMode(mode)">
                  <gild :style="{maskImage: mode.piece.shape, webkitMaskImage: mode.piece.shape, backgroundColor: mode.piece.color, backgroundImage: mode.piece.backgroundImage }" />
                </piece>
                <value>{{mode.name}} mode</value>
              </mode>
            </modes>
            <description v-if="appSettingsModes.infinite.isSelected">{{appSettingsModes.infinite.description}} </description>
            <description v-if="appSettingsModes.hard.isSelected">{{appSettingsModes.hard.description}}</description>
            <description v-if="appSettingsModes.easy.isSelected">{{appSettingsModes.easy.description}}</description>
          </section>
          <section>
            <button title="Click to start a new game." class="primary" @click="RestartGame">Play</button>
            <button v-if="!gameDailyChallengeAlreadyScored && !gameDailyChallengeHasBeenStarted && gameDailyChallenge.allLevelsSource != ''" :title="'Click to start try the daily challenge for ' + FormatDate(gameDailyChallenge.date)" class="tertiary" @click="StartDailyChallenge">Daily Challenge!</button>
            <button title="Click to learn how to play Like Me?" class="secondary inline" @click="ToggleHowToPlay(event, true)">
              <!-- <icon class="gradcap"></icon> -->
              Tutorial
            </button>
            <smallbuttons>
              <button title="Click to adjust the game settings." class="secondary" @click="ToggleSettings(event, true)">
                <icon class="settings"></icon>
              </button>
              <button title="Click to see your high scores." class="secondary" @click="ToggleHighScores(event, true)">
                <icon class="trophy"></icon>
              </button>
              <button title="Click to see a list of credits." class="secondary" @click="ToggleCredits(event, true)">
                <icon class="bullhorn"></icon>
              </button>
              <button title="Click to share this app with your friends." class="secondary" @click="ShareApp">
                <icon class="share"></icon>
              </button>
            </smallbuttons>
          </section>
          <section>
            <version> &copy;{{new Date().getFullYear()}} <a href="#" @click="GiveFeedback" target="_blank">Big Tent Games</a> - <a href="#" @click="window.location.reload(true)" target="_blank">v{{currentVersion + (window.location.host !== 'likeme.games' ? 'p' : '')}}</a> </version>
          </section>
        </content>
      </page>
      <modal :class="{show: appVisualStateShowPageCredits}">
        <chrome>
          <button @click="ToggleCredits(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>Credits</h1>
          </header>
          <section>
            <h2>Created by</h2>
            <credit>Wil Voss</credit>
          </section>
          <section>
            <h2>Feedback and ideas</h2>
            <credit>Alex Barbieri</credit>
            <credit>Melinda Cocolas</credit>
            <credit>Joe Fogarty</credit>
            <credit>Marianne Geisemann</credit>
            <credit>Jerry Hoffmeister</credit>
            <credit>Rebecca Hoffmeister</credit>
            <credit>Danielle Siler</credit>
            <credit>Gretchen Voss</credit>
            <credit>Kathleen Voss</credit>
            <credit>&nbsp;</credit>
            <credit>Thank you for making this game better!</credit>
          </section>
          <section>
            <button class="secondary" @click="GiveFeedback">Give feedback</button>
          </section>
        </content>
      </modal>
      <modal :class="{show: appVisualStateShowPageHighScores}">
        <chrome>
          <button @click="ToggleHighScores(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>High Scores</h1>
          </header>
          <section>
            <h2>Easy</h2>
            <leftright v-for="score in userScoresHighEasyByValue" :title="score.isDaily ? 'Recorded for the ' + FormatDate(score.dailyDate) + ' daily challange.' : ''" :class="{current: score.isCurrent, daily: score.isDaily}">
              <left>{{FormatDate(score.date)}}</left>
              <right>{{NumberWithCommas(score.value)}}</right>
            </leftright>
            <leftright v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighEasyByValue.length"> <left></left>&nbsp;<right></right> </leftright>
          </section>
          <section>
            <h2>Hard</h2>
            <leftright v-for="score in userScoresHighHardByValue" :class="{current: score.isCurrent}">
              <left>{{FormatDate(score.date)}}</left>
              <right>{{NumberWithCommas(score.value)}}</right>
            </leftright>
            <leftright v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighHardByValue.length"> <left></left>&nbsp;<right></right> </leftright>
          </section>
          <section v-if="userScoresHighEasyByValue.length > 0 || userScoresHighHardByValue.length > 0">
            <button class="danger" @click="ClearAllUserScores">Clear All Scores</button>
          </section>
        </content>
      </modal>
      <modal class="pause" @click="ToggleGamePause(event, false)" :class="{show: gameCurrentIsPaused && !gameCurrentIsGameOver}">
        <button title="Click the button to resume playing the game." class="quaternary"><icon class="play"></icon></button>
      </modal>
      <modal :class="{show: appVisualStateShowPageSettings}">
        <chrome>
          <button @click="ToggleSettings(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>Settings</h1>
          </header>
          <section>
            <controlgroup>
              <checkbox :class="{on: userSettingsUseHints}" @click="ToggleUsingHints(event)">
                Tips and Hints
                <toggle></toggle>
              </checkbox>
              <checkbox :class="{on: userSettingsUseSoundFX}" @click="ToggleUsingSound(event)">
                Sound
                <toggle></toggle>
              </checkbox>
              <checkbox :class="{on: userSettingsUseAltPatterns}" @click="ToggleUsingAltPattern(event)">
                Alt Patterns
                <toggle></toggle>
              </checkbox>
              <checkbox :class="{on: userSettingsUseCats}" @click="ToggleUsingCats(event)">
                Cat Mode
                <toggle></toggle>
              </checkbox>
              <checkbox :class="{on: userSettingsUseDarkMode}" @click="ToggleUsingDarkMode(event)">
                Dark Mode
                <toggle></toggle>
              </checkbox>
            </controlgroup>
          </section>
          <section>
            <h2>Theme</h2>
            <themes>
              <theme v-for="theme in appSettingsThemes" :class="{selected: theme.isSelected}" @click="SelectTheme(theme)">
                <colors>
                  <color :style="{backgroundColor: theme.color1}"></color>
                  <color :style="{backgroundColor: theme.color2}"></color>
                  <color :style="{backgroundColor: theme.color3}"></color>
                </colors>
                <labelsmall>{{theme.name}}</labelsmall>
              </theme>
            </themes>
          </section>
        </content>
      </modal>
      <modal class="notransition" :class="{show: appVisualStateShowPageGameOver}" @pointerdown="appVisualStateShowNotification = false;">
        <content style="justify-content: center">
          <!-- prettier-ignore -->
          <copyme id="copyme" v-if="gameLastHighScore.isDaily">▨ ▲ ◯  Daily - {{GetMonthAndDay(gameLastHighScore.dailyDate)}}
{{NumberWithCommas(gameCurrentTotalScore) + ' pts - ' + gameCurrentNumberOfClears + ' level'}}{{gameCurrentNumberOfClears !== 1 ? 's' : ''}}
{{'(https://' + window.location.host + ')'}}</copyme>
          <!-- prettier-ignore -->
          <copyme id="copyme" v-if="!gameLastHighScore.isDaily && !appSettingsModes.infinite.isSelected">▨ ▲ ◯  {{appSettingsModes.easy.isSelected ? 'Easy Mode' : 'Hard Mode'}} 
{{NumberWithCommas(gameCurrentTotalScore) + ' pts - ' + gameCurrentNumberOfClears + ' level'}}{{gameCurrentNumberOfClears !== 1 ? 's' : ''}}
{{'(https://' + window.location.host + ')'}}</copyme>
<h1>{{gameLastHighScore.isDaily ? 'Challenge' : 'Game'}} Over</h1>
          <newhigh @pointerdown="ToggleHighScores(event, true)"> {{appVisualStateShowNewHighScoreElement ? 'A NEW high score!' : '&nbsp;'}} </newhigh>
          <section>
            <leftright class="impress">
              <left> {{!appSettingsModes.infinite.isSelected ? 'Final score ' : 'Total levels cleared '}} </left>
              <right> {{!appSettingsModes.infinite.isSelected ? NumberWithCommas(gameCurrentTotalScore) + ' pts' : gameCurrentNumberOfClears}} </right>
            </leftright>
            <leftright v-if="!appSettingsModes.infinite.isSelected">
              <left>Time remaining</left>
              <right>{{GetMsToTime(gameCurrentTimer)}}</right>
            </leftright>
            <leftright v-if="!appSettingsModes.infinite.isSelected">
              <left>Levels cleared</left>
              <right>{{gameCurrentNumberOfClears}}{{gameLastHighScore.isDaily ? '/' + gameDailyChallenge.allLevels.length : ''}}</right>
            </leftright>
            <leftright v-if="!appSettingsModes.infinite.isSelected">
              <left>Bonus time added</left>
              <right>{{GetMsToTime(gameCurrentNumberOfPerfectMatches * 3000)}}</right>
            </leftright>
          </section>
          <section>
            <button v-if="gameLastHighScore.isDaily || (!appSettingsModes.infinite.isSelected && appVisualStateShowNewHighScoreElement)" title="Click to share your score with your friends." class="tertiary inline" @click="ShareScore">Share!<icon class="share"></icon></button>
            <button v-if="!gameLastHighScore.isDaily" title="Click to start a new game" class="primary" @click="RestartGame">New Game</button>
            <button title="Click to return to the home screen." class="secondary" @click="appVisualStateShowPageGameOver = false, appVisualStateShowPageHome = true">Home</button>
          </section>
        </content>
      </modal>
      <challenge :class="{show: appVisualStateShowPageChallenge}">
        <section>
          <h1>Quit for real?</h1>
        </section>
        <smallbuttons>
          <button @click="ToggleChallenge(event, false)">No</button>
          <button class="secondary" @click="EndGame">Yes</button>
        </smallbuttons>
      </challenge>
      <stage v-if="!appVisualStateShowPageHome && !appTutorialIsInPlay" :class="{paused: gameCurrentIsPaused}">
        <chrome :class="{alert: gameCurrentTimer < 6000 && !appSettingsModes.infinite.isSelected}">
          <button @click="appVisualStateShowPageSettings = true">Settings</button>
          <gameinfo>
            <labelsmall v-if="gameDailyChallengeHasBeenStarted"> level {{parseInt(gameCurrentNumberOfClears + 1)}} <span>of</span> {{gameDailyChallenge.allLevels.length}} </labelsmall>
            <time @click="ToggleGamePause(event, false)" v-if="!appSettingsModes.infinite.isSelected">{{gameCurrentIsPaused ? 'Paused' : NumberWithCommas(gameCurrentTotalScore) + ' pts'}}</time>
          </gameinfo>
          <button @click="ToggleChallenge(event, true)">Quit</button>
        </chrome>
        <hint @pointerdown="appVisualStateShowElementHint = false" :class="{show: appVisualStateShowElementHint && !gameCurrentIsGameOver && userSettingsUseHints}">
          <message v-html="gameCurrentHintText"></message>
        </hint>
        <playarea @click="if(gameCurrentIsPaused) ToggleGamePause(event, false)">
          <scorearea :class="{clickable: !appSettingsModes.infinite.isSelected}" @click="ToggleGamePause(event, !gameCurrentIsPaused)">
            <labelsmall>{{appSettingsModes.infinite.isSelected ? '' : 'II'}} {{appSettingsModes.infinite.isSelected ? 'clears' : 'pause'}}</labelsmall>
            <currentscore :class="{bigpulse: gameCurrentTimer < 6000 && !appSettingsModes.infinite.isSelected}">{{appSettingsModes.infinite.isSelected ? NumberWithCommas(gameCurrentNumberOfClears) : GetMsToTime(gameCurrentTimer)}}</currentscore>
          </scorearea>
          <board>
            <piece v-for="piece in gameCurrentBoardPieces" @click="TogglePieceSelection(piece)" :class="{include:  piece.nudge && userSettingsUseHints && piece.isMatch, exclude: piece.nudge && userSettingsUseHints && !piece.isMatch, selected: piece.isSelected, dropped: piece.hasDropped}">
              <gild :style="{maskImage: piece.shape, webkitMaskImage: piece.shape, backgroundColor: piece.color, backgroundImage: piece.backgroundImage }"> </gild>
            </piece>
          </board>
          <addtime :class="{flyaway: appVisualStateShowElementFlyaway}">+3 seconds</addtime>
          <me :class="{nope: gameCurrentIsUserGuessWrong}">
            <piece @click="CheckBoard">
              <gild :style="{maskImage: gameCurrentMePiece.shape, webkitMaskImage: gameCurrentMePiece.shape, backgroundColor: gameCurrentMePiece.color, backgroundImage: gameCurrentMePiece.backgroundImage }"> </gild>
            </piece>
          </me>
        </playarea>
      </stage>
      <tutorial :class="{show: appTutorialIsInPlay}">
        <chrome v-if="appTutorialCurrentStepIndex !== appTutorialSteps.length - 1">
          <button @click="HandleSkipTutorial">{{!appTutorialUserHasSeen ? 'Skip This' : 'Done'}}</button>
        </chrome>
        <playarea>
          <h2>{{ChangeTutorialPiecesToCats(appTutorialSteps[appTutorialCurrentStepIndex].title)}}</h2>
          <description v-html="ChangeTutorialPiecesToCats(appTutorialSteps[appTutorialCurrentStepIndex].description)"></description>
          <board :class="{unreveal: appTutorialCurrentStepIndex < 2 || appTutorialCurrentStepIndex === appTutorialSteps.length - 1, partial: appTutorialCurrentStepIndex === 3   }">
            <piece :class="{selected: piece.isSelected}" v-for="(piece, index) in appTutorialBoardPieces.board" @click="piece.isSelected = appTutorialCurrentStepIndex > 3 ? !piece.isSelected : piece.isSelected" class="dropped">
              <gild :style="{maskImage: piece.shape, webkitMaskImage: piece.shape, backgroundColor: piece.color, backgroundImage: piece.backgroundImage }"> </gild>
            </piece>
          </board>
          <addtime :class="{flyaway: appVisualStateShowElementFlyaway}">+3 seconds</addtime>
          <me v-if="appTutorialCurrentStepIndex === 0">
            <piece>
              <gild :style="{maskImage: 'var(--shape4)', webkitMaskImage: 'var(--shape4)', backgroundColor: 'var(--color1)', backgroundImage: 'var(--bgImage1)' }"> </gild>
            </piece>
          </me>
          <me v-if="appTutorialCurrentStepIndex === appTutorialSteps.length - 1">
            <piece>
              <gild :style="{maskImage: 'var(--shape2)', webkitMaskImage: 'var(--shape2)', backgroundColor: 'var(--color3)', backgroundImage: 'var(--bgImage2)' }"> </gild>
            </piece>
          </me>
          <me v-if="appTutorialCurrentStepIndex > 0 && appTutorialCurrentStepIndex < appTutorialSteps.length - 1 " :class="{nope: gameCurrentIsUserGuessWrong}">
            <piece @click="HandleTutorialCheck">
              <gild :style="{maskImage: appTutorialMePiece.shape, webkitMaskImage: appTutorialMePiece.shape, backgroundColor: appTutorialMePiece.color, backgroundImage: appTutorialMePiece.backgroundImage }"> </gild>
            </piece>
          </me>
        </playarea>
        <section>
          <smallbuttons>
            <button v-if="appTutorialCurrentStepIndex < appTutorialSteps.length - 1" :class="{disabled: appTutorialCurrentStepIndex === 0}" @click="HandleTutorialBack" class="secondary">Back</button>
            <button v-if="appTutorialCurrentStepIndex < appTutorialSteps.length - 1" class="secondary" @click="HandleTutorialNext">Next</button>
            <button v-if="!appTutorialUserHasSeen && appTutorialCurrentStepIndex === appTutorialSteps.length - 1" class="primary" @click="HandleDoneTutorial">Let's Go!</button>
            <button v-if="appTutorialUserHasSeen && appTutorialCurrentStepIndex === appTutorialSteps.length - 1" class="secondary" @click="HandleSkipTutorial">Done</button>
          </smallbuttons>
        </section>
      </tutorial>
    </app>
    <script src="helpers/console-enhancer.js" type="text/javascript"></script>
    <script src="helpers/getDailyChallenge.js" type="text/javascript"></script>
    <script src="helpers/howler.js" type="text/javascript"></script>
    <script id=" vue-framework" src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="models/TutorialStepObject.js" type="text/javascript"></script>
    <script src="models/ScoreObject.js" type="text/javascript"></script>
    <script src="models/ThemeObject.js" type="text/javascript"></script>
    <script src="models/PieceObject.js" type="text/javascript"></script>
    <script src="models/ModeObject.js" type="text/javascript"></script>
    <script src="models/LevelsObject.js" type="text/javascript"></script>
    <script src="scripts/likeme.js" type="text/javascript"></script>
  </body>
</html>
