<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>Like Me?</title>

    <meta name="apple-mobile-web-app-title" content="Like Me?" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#f0f0f0">

    <meta name="keywords" content="Like Me?, Big Tent Games, Games, Free, FullyFree" />
    <meta name="description" content="What in this whole world is like me?" />

    <meta name="twitter:card" content="summary_large_image">
    </meta>
    <meta property="og:title" content="Like Me?" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:description" content="A game of matching likenesses." />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://likeme.games" />
    <meta property="og:image" content="https://likeme.games/images/likeme_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="images/icon180.png">
    <!-- iPhone X (1125px x 2436px) -->
    <link rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
      href="images/apple-launch-1125x2436.png">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      href="images//apple-launch-750x1334.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="styles/likeme.css" media="screen" />
    <script src="helpers/console-enhancer.js" type='text/javascript'></script>
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
  </head>

  <body>
    <app id="app" v-cloak>
      <page class="home" :class="{show: appVisualStateShowPageHome}">
        <section>
          <h1>Like Me?</h1>
          <p>A game of matching likenesses.</p>
        </section>
        <section>
          <modes>
            <mode v-for="mode in appSettingsModes" :class="{selected: mode.isSelected}">
              <piece :title="'Click to select ' + mode.name + ' mode.'" @click="SelectMode(mode)">
                <gild
                  :style="{maskImage: mode.piece.shape, webkitMaskImage: mode.piece.shape, backgroundColor: mode.piece.color, backgroundImage: mode.piece.backgroundImage }" />
              </piece>
              <value>{{mode.name}}</value>
            </mode>
          </modes>
        </section>
        <section>
          <button class="primary" @click="RestartGame">Play</button>
          <button class="secondary" @click="ToggleHowToPlay(event, true)">How to play</button>
          <button class="secondary" @click="ToggleHighScores(event, true)">High scores</button>
          <button class="secondary" @click="ToggleSettings(event, true)">Settings</button>
        </section>
        <section>
          <version>
            &copy;2023 <a href="https://bigtentgames.com" target="_blank">Big Tent Games</a> - v{{currentVersion}}
          </version>
        </section>
      </page>
      <modal :class="{show: appVisualStateShowPageHighScores}">
        <header>
          <chrome>
            <chromebutton @click="ToggleHighScores(event, false)">done</chromebutton>
          </chrome>
          <h1>High Scores</h1>
        </header>
        <section>
          <h2>Hard</h2>
          <score v-for="score in userScoresHighHardByValue" :class="{current: score.isCurrent}">
            <date>{{FormatDate(score.date)}}</date>
            <value>{{NumberWithCommas(score.value)}}</value>
          </score>
          <score v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighHardByValue.length">
            <date></date>–<value></value>
          </score>
        </section>
        <section>
          <h2>Normal</h2>
          <score v-for="score in userScoresHighEasyByValue" :class="{current: score.isCurrent}">
            <date>{{FormatDate(score.date)}}</date>
            <value>{{NumberWithCommas(score.value)}}</value>
          </score>
          <score v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighEasyByValue.length">
            <date></date>–<value></value>
          </score>
        </section>
        <section>
          <p>Infinite mode isn't scored.</p>
        </section>
        <section>
          <button :class="{disabled: userScoresHighEasyByValue.length === 0 && userScoresHighHardByValue.length === 0}"
            class="tertiary" @click="ClearAllUserScores">Clear</button>
        </section>
      </modal>
      <modal :class="{show: appVisualStateShowPageHowToPlay}">
        <header>
          <chrome>
            <chromebutton @click="ToggleHowToPlay(event, false)">done</chromebutton>
          </chrome>
          <h1>How to play</h1>
        </header>
        <section>
          <h2>Observe</h2>
          <p>Notice my shape, color, and pattern.</p>
          <me>
            <piece>
              <gild></gild>
            </piece>
          </me>
        </section>
        <section>
          <h2>Select</h2>
          <p>
            Select all pieces that share <b>at least two</b> of my attributes (color, shape, pattern).
          </p>
          <examples>
            <piece>
              <gild
                style="mask-image: var(--shape4); -webkit-mask-image: var(--shape4); background-color: var(--color2); background-image: var(--bgImage3);">
              </gild>
            </piece>
            <piece>
              <gild
                style="mask-image: var(--shape1); -webkit-mask-image: var(--shape1); background-color: var(--color1); background-image: var(--bgImage2);">
              </gild>
            </piece>
            <piece class="selected">
              <gild
                style="mask-image: var(--shape2); -webkit-mask-image: var(--shape2); background-color: var(--color2); background-image: var(--bgImage1);">
              </gild>
            </piece>
            <piece>
              <gild
                style="mask-image: var(--shape3); -webkit-mask-image: var(--shape3); background-color: var(--color3); background-image: var(--bgImage1);">
              </gild>
            </piece>
          </examples>
        </section>
        <section>
          <h2>Check</h2>
          <p>Click me to see if you got them all!</p>
        </section>
      </modal>
      <modal :class="{show: appVisualStateShowPageSettings}">
        <header>
          <chrome>
            <chromebutton @click="ToggleSettings(event, false)">done</chromebutton>
          </chrome>
          <h1>Settings</h1>
        </header>
        <section>
          <checkbox :class="{on: userSettingsUseHints}" @click="ToggleUsingHints(event)">
            Show tips
            <toggle></toggle>
          </checkbox>
        </section>
        <section>
          <h2>Theme</h2>
          <themes>
            <theme v-for="theme in appSettingsThemes" :class="{selected: theme.isSelected}" @click="SelectTheme(theme)">
              <colors>
                <color :style="{backgroundColor: theme.color1}"></color>
                <color :style="{backgroundColor: theme.color2}"></color>
                <color :style="{backgroundColor: theme.color3}"></color>
              </colors>
              <name>{{theme.name}}</name>
            </theme>
          </themes>
        </section>
      </modal>
      <stage>
        <gameover v-if="gameCurrentIsGameOver">
          <h2 style="margin-bottom: 1em;">Game Over</h2>
          <newhigh v-if="appVisualStateShowNewHighScoreElement">A NEW high score!</newhigh>
          <button class="primary" @click="RestartGame">Replay</button>
          <button class="secondary" @click="appVisualStateShowPageHome = true">Home</button>
          <button class="secondary"
            @click="appVisualStateShowPageHighScores = true; appVisualStateShowPageHome = true">High Scores</button>
        </gameover>
        <chrome>
          <!-- <clears>{{gameCurrentNumberOfClears}} clears</clears> -->
          <chromebutton :class="{disabled: gameCurrentIsGameOver}" @click="appVisualStateShowPageSettings = true">
            Settings</chromebutton>
          <time>{{gameCurrentIsGameOver ? 'Misses: ' + gameCurrentNumberOfFails : GetMsToTime(gameCurrentTimer)}}</time>
          <chromebutton :class="{disabled: gameCurrentIsGameOver}" @click="EndGame">Quit</chromebutton>
        </chrome>
        <playarea>
          <score>
            {{NumberWithCommas(gameCurrentTotalScore)}}
          </score>
          <board :class="{disabled: gameCurrentIsGameOver}">
            <piece v-for="piece in gameCurrentBoardPieces" @click="TogglePieceSelection(piece)"
              :class="{selected: piece.isSelected, dropped: piece.hasDropped}">
              <gild
                :style="{maskImage: piece.shape, webkitMaskImage: piece.shape, backgroundColor: piece.color, backgroundImage: piece.backgroundImage }">
              </gild>
            </piece>
          </board>
          <addtime :class="{flyaway: appVisualStateShowElementFlyaway}">+3 seconds</addtime>
          <me :class="{disabled: gameCurrentIsGameOver, nope: gameCurrentIsUserGuessWrong}">
            <piece @click="CheckBoard">
              <gild
                :style="{maskImage: gameCurrentMePiece.shape, webkitMaskImage: gameCurrentMePiece.shape, backgroundColor: gameCurrentMePiece.color, backgroundImage: gameCurrentMePiece.backgroundImage }">
              </gild>
            </piece>
          </me>
          <hint
            :class="{show: appVisualStateShowElementHint && !gameCurrentIsGameOver && userSettingsUseHints, disabled: gameCurrentIsGameOver}"
            v-html="gameCurrentHintText">
          </hint>
        </playarea>
      </stage>
    </app>
    <script id=" vue-framework" src="helpers/vue.min.js" type='text/javascript'></script>
    <script src="models/ScoreObject.js" type='text/javascript'></script>
    <script src="models/ThemeObject.js" type='text/javascript'></script>
    <script src="models/PieceObject.js" type='text/javascript'></script>
    <script src="models/ModeObject.js" type='text/javascript'></script>
    <script src="scripts/likeme.js" type='text/javascript'></script>
  </body>

</html>