<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>Like Me?</title>
    <meta name="apple-mobile-web-app-title" content="Like Me?" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" id="themeColor" content="#f0f0f0" />

    <meta name="keywords" content="Like Me?, Big Tent Games, Games, Free, FullyFree" />
    <meta name="description" content="What in this whole world is like me?" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Like Me?" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:description" content="A game of matching likenesses." />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://likeme.games" />
    <meta property="og:image" content="https://likeme.games/images/likeme_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="images/icon180.png" />
    <!-- iPhone X (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="images/apple-launch-1125x2436.png" />
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="images//apple-launch-750x1334.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="favicon.png?3841" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?3841" />

    <link rel="manifest" href="manifest.webmanifest" />

    <link rel="stylesheet" href="styles/likeme.css" media="screen" />
  </head>

  <body>
    <wallpaper></wallpaper>
    <app id="app" v-cloak :class="{challenge: appVisualStateShowPageChallenge}">
      <link v-if="userSettingsUseDarkMode" rel="stylesheet" href="styles/likeme-darkmode.css" media="screen" />
      <notification @pointerdown="appVisualStateShowNotification = false" :class="{show: appVisualStateShowNotification}">
        <message v-html="appNotificationMessage"></message>
      </notification>
      <page class="home" :class="{show: appVisualStateShowPageHome}" @pointerdown="appVisualStateShowNotification = false;">
        <button id="button_update" v-if="newVersionAvailable" title="There is an update available for Like Me. Click to apply the update." class="tertiary pulse update" @click="HandleUpdateAppButtonClick">New Update!</button>
        <content>
          <section>
            <h1>Like Me?</h1>
            <p>A game of matching likenesses.</p>
          </section>
          <section>
            <modes>
              <mode v-for="mode in appSettingsModes" :class="{selected: mode.isSelected}">
                <piece :title="mode.name + ' mode. ' + mode.description + ' Click to select.'" @click="SelectMode(mode)">
                  <gild :style="{maskImage: mode.piece.shape, webkitMaskImage: mode.piece.shape, backgroundColor: mode.piece.color, backgroundImage: mode.piece.backgroundImage }" />
                </piece>
                <value>{{mode.name}} mode</value>
              </mode>
            </modes>
            <description v-if="appSettingsModes.infinite.isSelected">{{appSettingsModes.infinite.description}} </description>
            <description v-if="appSettingsModes.hard.isSelected">{{appSettingsModes.hard.description}}</description>
            <description v-if="appSettingsModes.easy.isSelected">{{appSettingsModes.easy.description}}</description>
          </section>
          <section>
            <button id="button_newGame" title="Click to start a new game" class="primary" @click="RestartGame">Play</button>
            <button id="button_howto" title="Click to learn how to play Like Me?" class="secondary" @click="ToggleHowToPlay(event, true)">How to play</button>
            <smallbuttons>
              <button id="button_settings" title="Click to adjust the game settings." class="secondary" @click="ToggleSettings(event, true)">
                <icon class="settings"></icon>
              </button>
              <button id="button_scores" title="Click to see your high scores." class="secondary" @click="ToggleHighScores(event, true)">
                <icon class="trophy"></icon>
              </button>
              <button id="button_credits" title="Click to see a list of credits." class="secondary" @click="ToggleCredits(event, true)">
                <icon class="info"></icon>
              </button>
              <button id="button_share_app" title="Click to share this app with your friends." class="secondary" @click="ShareApp">
                <icon class="share"></icon>
              </button>
            </smallbuttons>
          </section>
          <section>
            <version> &copy;2023 <a href="https://bigtentgames.com" target="_blank">Big Tent Games</a> - v{{storedVersion === 0 ? currentVersion : storedVersion}}{{window.location.host !== 'likeme.games' ? 'p' : ''}} </version>
          </section>
        </content>
      </page>
      <modal :class="{show: appVisualStateShowPageCredits}">
        <chrome>
          <button id="button_credits_done" @click="ToggleCredits(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>Information</h1>
          </header>
          <section>
            <h2>Credits</h2>
            <h3>Created by</h3>
            <credit>Wil Voss</credit>
            <h3>Feedback and ideas</h3>
            <credit>Alex Barbieri</credit>
            <credit>Jerry Hoffmeister</credit>
            <credit>Rebecca Hoffmeister</credit>
            <credit>Danielle Siler</credit>
            <credit>Gretchen Voss</credit>
            <credit>Melinda Voss</credit>
          </section>
          <section>
            <h2>Licensing</h2>
            <h3>The Noun Project</h3>
            <credit><a href="https://thenounproject.com/icon/information-2119887/" target="_blank">SELicon - information icon</a></credit>
            <credit><a href="https://thenounproject.com/icon/settings-2650515/" target="_blank">i cons - settings icon</a></credit>
            <credit><a href="https://thenounproject.com/icon/trophy-4942454/" target="_blank">Meko - trophy icon</a></credit>
          </section>
          <section>
            <button class="danger" @click="{window.location.reload(true)}">Force refresh</button>
          </section>
        </content>
      </modal>
      <modal :class="{show: appVisualStateShowPageHighScores}">
        <chrome>
          <button id="button_scores_done" @click="ToggleHighScores(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>High Scores</h1>
          </header>
          <section>
            <h2>Easy</h2>
            <leftright class="real" v-for="score in userScoresHighEasyByValue" :class="{current: score.isCurrent}">
              <left>{{FormatDate(score.date)}}</left>
              <right>{{NumberWithCommas(score.value)}}</right>
            </leftright>
            <leftright v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighEasyByValue.length"> <left></left>&nbsp;<right></right> </leftright>
          </section>
          <section>
            <h2>Hard</h2>
            <leftright v-for="score in userScoresHighHardByValue" :class="{current: score.isCurrent}">
              <left>{{FormatDate(score.date)}}</left>
              <right>{{NumberWithCommas(score.value)}}</right>
            </leftright>
            <leftright v-for="e in appSettingsNumberOfHighScoresShown - userScoresHighHardByValue.length"> <left></left>&nbsp;<right></right> </leftright>
          </section>
          <section v-if="userScoresHighEasyByValue.length > 0 || userScoresHighHardByValue.length > 0">
            <button class="danger" @click="ClearAllUserScores">Clear All Scores</button>
          </section>
          <section>
            <p>Infinite mode isn't scored.</p>
          </section>
        </content>
      </modal>
      <modal :class="{show: appVisualStateShowPageHowToPlay}">
        <chrome>
          <button id="button_howto_done" @click="ToggleHowToPlay(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>How to play</h1>
            <subheader>Find all of the pieces on a board that are similar to the special "Me" piece. Pieces change after each board is cleared. </subheader>
          </header>
          <section>
            <h2>Step 1</h2>
            <p>Notice me: my shape, color, and pattern.</p>
            <me>
              <piece>
                <gild></gild>
              </piece>
            </me>
          </section>
          <section>
            <h2>Step 2</h2>
            <p>Select all pieces that share <b>at least two</b> of my attributes (color and shape, shape and pattern, or pattern and color).</p>
            <examples>
              <piece>
                <gild style="mask-image: var(--shape4); -webkit-mask-image: var(--shape4); background-color: var(--color2); background-image: var(--bgImage3)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape1); -webkit-mask-image: var(--shape1); background-color: var(--color1); background-image: var(--bgImage2)"> </gild>
              </piece>
              <piece class="selected">
                <gild style="mask-image: var(--shape2); -webkit-mask-image: var(--shape2); background-color: var(--color2); background-image: var(--bgImage1)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape3); -webkit-mask-image: var(--shape3); background-color: var(--color3); background-image: var(--bgImage1)"> </gild>
              </piece>
            </examples>
            <examples>
              <piece class="selected">
                <gild style="mask-image: var(--shape1); -webkit-mask-image: var(--shape1); background-color: var(--color1); background-image: var(--bgImage1)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape2); -webkit-mask-image: var(--shape2); background-color: var(--color3); background-image: var(--bgImage4)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape3); -webkit-mask-image: var(--shape3); background-color: var(--color2); background-image: var(--bgImage3)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape1); -webkit-mask-image: var(--shape1); background-color: var(--color1); background-image: var(--bgImage3)"> </gild>
              </piece>
            </examples>
          </section>
          <section>
            <h2>Step 3</h2>
            <p>Click me to see if you got them all!</p>
            <me class="pushed">
              <piece>
                <gild></gild>
              </piece>
            </me>
          </section>
          <section v-if="!deviceHasTouch">
            <h2>Keyboard shortcuts</h2>
            <leftright>
              <left>Check board, Yes</left>
              <right>'Enter'</right>
            </leftright>
            <leftright>
              <left>Check board, Yes</left>
              <right>'Space'</right>
            </leftright>
            <leftright>
              <left>Done, Cancel, No</left>
              <right>'Escape'</right>
            </leftright>
            <leftright>
              <left>Dark/light mode</left>
              <right>'/'</right>
            </leftright>
            <leftright>
              <left>Next theme</left>
              <right>']'</right>
            </leftright>
            <leftright>
              <left>Previous theme</left>
              <right>'['</right>
            </leftright>
          </section>
        </content>
      </modal>
      <modal :class="{show: appVisualStateShowPageSettings}">
        <chrome>
          <button id="button_settings_done" @click="ToggleSettings(event, false)">done</button>
        </chrome>
        <content>
          <header>
            <h1>Settings</h1>
          </header>
          <section>
            <checkbox :class="{on: userSettingsUseHints}" @click="ToggleUsingHints(event)">
              Tips and Hints
              <toggle></toggle>
            </checkbox>
            <checkbox :class="{on: userSettingsUseSoundFX}" @click="ToggleUsingSound(event)">
              Sound
              <toggle></toggle>
            </checkbox>
            <checkbox :class="{on: userSettingsUseDarkMode}" @click="ToggleUsingDarkMode(event)">
              Dark Mode
              <toggle></toggle>
            </checkbox>
          </section>
          <section>
            <h2>Theme</h2>
            <themes>
              <theme v-for="theme in appSettingsThemes" :class="{selected: theme.isSelected}" @click="SelectTheme(theme)">
                <colors>
                  <color :style="{backgroundColor: theme.color1}"></color>
                  <color :style="{backgroundColor: theme.color2}"></color>
                  <color :style="{backgroundColor: theme.color3}"></color>
                </colors>
                <name>{{theme.name}}</name>
              </theme>
            </themes>
          </section>
        </content>
      </modal>
      <modal :class="{show: appVisualStateShowPageGameOver}" @pointerdown="appVisualStateShowNotification = false;">
        <content style="justify-content: center">
          <!-- prettier-ignore -->
          <section id="copyme">▨ ▲ ◯
{{ ((!appSettingsModes.infinite.isSelected ? (appSettingsModes.easy.isSelected ? 'Easy score: ' : 'Hard score: ') : 'Boards cleared: ')) + (!appSettingsModes.infinite.isSelected ? NumberWithCommas(gameCurrentTotalScore) :  gameCurrentNumberOfClears)}}
(https://likeme.games)</section>
          <section>
            <header>
              <h1 style="margin-bottom: 1em">Game Over</h1>
              <subheader> {{!appSettingsModes.infinite.isSelected ? 'Final score: ' + NumberWithCommas(gameCurrentTotalScore) : 'Total boards cleared: ' + gameCurrentNumberOfClears}} </subheader>
              <newhigh @pointerdown="ToggleHighScores(event, true)"> {{appVisualStateShowNewHighScoreElement ? 'A NEW high score!' : ' '}} </newhigh>
            </header>
            <button id="button_replay" title="Click to start a new game" class="primary" @click="RestartGame">Replay</button>
            <button id="button_home" title="Click to return to the home screen." class="secondary" @click="appVisualStateShowPageGameOver = false, appVisualStateShowPageHome = true">Home</button>
            <button id="button_share_score" title="Click to share your score with your friends." class="secondary" @click="ShareScore">Share Score</button>
          </section>
        </content>
      </modal>
      <oobe :class="{show: appVisualStateShowPageOOBE}">
        <content>
          <section>
            <h1>Welcome!</h1>
            <examples>
              <piece>
                <gild style="transform: translate(20px, 0px) scale(0.7); mask-image: var(--shape3); -webkit-mask-image: var(--shape3); background-color: var(--color1); background-image: var(--bgImage4)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape4); -webkit-mask-image: var(--shape4); background-color: var(--color2); background-image: var(--bgImage2)"> </gild>
              </piece>
              <piece>
                <gild style="transform: translateY(-0px) scale(1.3); mask-image: var(--shape2); -webkit-mask-image: var(--shape2); background-color: var(--color3); background-image: var(--bgImage1)"> </gild>
              </piece>
              <piece>
                <gild style="mask-image: var(--shape1); -webkit-mask-image: var(--shape1); background-color: var(--color1); background-image: var(--bgImage3)"> </gild>
              </piece>
              <piece>
                <gild style="transform: translate(-20px, 0px) scale(0.7); mask-image: var(--shape2); -webkit-mask-image: var(--shape2); background-color: var(--color2); background-image: var(--bgImage4)"> </gild>
              </piece>
            </examples>
          </section>

          <section>
            <p>Come in, have a look around. <br />There's a match here for everyone.</p>
            <!-- <p><b>Like Me?</b> is a game about matching pieces that share attributes (shape, color, and pattern).</p> -->
          </section>
          <section>
            <button class="secondary" @click="ToggleOOBE(event, false)">let's go!</button>
          </section>
          <section></section>
        </content>
      </oobe>
      <challenge :class="{show: appVisualStateShowPageChallenge}">
        <section>
          <h1>Quit for real?</h1>
        </section>
        <smallbuttons>
          <button id="button_challenge_quit_no" @click="ToggleChallenge(event, false)">No</button>
          <button id="button_challenge_quit_yes" class="secondary" @click="EndGame">Yes</button>
        </smallbuttons>
      </challenge>
      <stage v-if="!appVisualStateShowPageHome" :class="{paused: gameCurrentIsPaused}">
        <chrome :class="{alert: gameCurrentTimer < 6000 && !appSettingsModes.infinite.isSelected}">
          <button id="button_stage_settings" @click="appVisualStateShowPageSettings = true">Settings</button>
          <time @click="ToggleGamePause(event, !gameCurrentIsPaused)" :class="{bigpulse: gameCurrentTimer < 6000}" v-if="!appSettingsModes.infinite.isSelected">{{GetMsToTime(gameCurrentTimer)}}</time>
          <button id="button_stage_quit" @click="ToggleChallenge(event, true)">Quit</button>
        </chrome>
        <hint @pointerdown="appVisualStateShowElementHint = false" :class="{show: appVisualStateShowElementHint && !gameCurrentIsGameOver && userSettingsUseHints}">
          <message v-html="gameCurrentHintText"></message>
        </hint>
        <playarea @click="ToggleGamePause(event, false)">
          <scorearea>
            <labelsmall>{{appSettingsModes.infinite.isSelected ? 'clears' : 'score'}}</labelsmall>
            <currentscore>{{appSettingsModes.infinite.isSelected ? NumberWithCommas(gameCurrentNumberOfClears) : NumberWithCommas(gameCurrentTotalScore)}}</currentscore>
          </scorearea>
          <board>
            <piece v-for="piece in gameCurrentBoardPieces" @click="TogglePieceSelection(piece)" :class="{include:  piece.nudge && userSettingsUseHints && piece.isMatch, exclude: piece.nudge && userSettingsUseHints && !piece.isMatch, selected: piece.isSelected, dropped: piece.hasDropped}">
              <gild :style="{maskImage: piece.shape, webkitMaskImage: piece.shape, backgroundColor: piece.color, backgroundImage: piece.backgroundImage }"> </gild>
            </piece>
          </board>
          <addtime :class="{flyaway: appVisualStateShowElementFlyaway}">+3 seconds</addtime>
          <me :class="{nope: gameCurrentIsUserGuessWrong}">
            <piece @click="CheckBoard">
              <gild :style="{maskImage: gameCurrentMePiece.shape, webkitMaskImage: gameCurrentMePiece.shape, backgroundColor: gameCurrentMePiece.color, backgroundImage: gameCurrentMePiece.backgroundImage }"> </gild>
            </piece>
          </me>
        </playarea>
      </stage>
    </app>
    <script src="helpers/console-enhancer.js" type="text/javascript"></script>
    <script src="helpers/howler.js" type="text/javascript"></script>
    <script id=" vue-framework" src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="models/ScoreObject.js" type="text/javascript"></script>
    <script src="models/ThemeObject.js" type="text/javascript"></script>
    <script src="models/PieceObject.js" type="text/javascript"></script>
    <script src="models/ModeObject.js" type="text/javascript"></script>
    <script src="models/LevelsObject.js" type="text/javascript"></script>
    <script src="scripts/likeme.js" type="text/javascript"></script>
  </body>
</html>
