@font-face {
  font-family: 'Bangers';
  src: url('../fonts/Bangers-Regular.ttf');
}

:root {
  --appBackground: hsl(0, 0%, 94%);
  --appForeground: hsl(0, 0%, 31%);
  --appMaxHeight: 918px;
  --targetX: 50%;
  --borderRadius: 6px;
  --defaultUnit: 8px;
  --defaultGap: 24px;
  --chromeHeight: 40px;
  --appMaxWidth: 500px;

  --pieceSize: 110px;
  --boardHeight: 400px;

  --color1: hsl(313, 44%, 25%);
  --color2: hsl(187, 42%, 46%);
  --color3: hsl(64, 60%, 53%);
  --color3contrast: white;
  --colorDanger: rgb(224, 0, 0);

  --shape1: url(/images/Square.svg);
  --shape2: url(/images/Circle.svg);
  --shape3: url(/images/Triangle.svg);
  --shape4: url(/images/Hexagon.svg);
  --infinity: url(/images/Infinity.svg);

  --bgImage1: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 20%);
  --bgImage2: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0px, rgba(255, 255, 255, 0.7) 1.1%, rgba(255, 255, 255, 0) 1.1%, rgba(255, 255, 255, 0) 4.4%);
  --bgImage3: repeating-radial-gradient(circle, rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0.5) 14.5%, rgba(255, 255, 255, 0) 14.5%, rgba(255, 255, 255, 0) 29%);
  --bgImage4: none;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--appForeground);
  font-family: -apple-system, Verdana, sans-serif;
  background: repeating-linear-gradient(90deg, rgb(80 80 80) 0px, rgb(80 80 80) 40px, rgb(74 74 74) 40px, rgb(74 74 74) 80px);
  user-select: none;
  -webkit-user-select: none;
  background: var(--color2);
}

body {
  /* max-width: 1024px; */
  /* max-width: var(--appMaxWidth); */
  height: 100%;
  margin: 0px auto;
  overflow: visible;
  background: transparent;
  line-height: 160%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

wallpaper {
  display: block;
  position: absolute;
  width: 300%;
  height: 300%;
  translate: -50vw -50vw;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.92);
  opacity: 0.7;
  background-size: 170px;
  rotate: 31deg;
}

wallpaper.square {
  background-image: url(../images/background-square.svg);
}

wallpaper.circle {
  background-image: url(../images/background-circle.svg);
}

wallpaper.triangle {
  background-image: url(../images/background-triangle.svg);
}

wallpaper.hexagon {
  background-image: url(../images/background-hexagon.svg);
}

[v-cloak] {
  transition: 250ms ease-out opacity;
  opacity: 0;
}

.disabled,
:disabled,
.challenge chromebutton {
  pointer-events: none;
  opacity: 0.4;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px 0px 0px 0px;
  line-height: 100%;
  letter-spacing: 2px;
  color: hsl(0, 0%, 11%);
}

h1 {
  font-family: 'Bangers';
  flex-basis: auto;
  font-weight: normal;
  font-size: 2.5em;
  margin: 0px 0px 0px 0px;
}

h2,
h3 {
  font-weight: normal;
  font-size: 1.25em;
  margin: 0px 0px 6px 0px;
  letter-spacing: 0px;
}

.reversecolor h1,
.reversecolor h2,
.reversecolor h3,
.reversecolor h4,
.reversecolor h5 {
  color: hsl(0, 0%, 89%);
}

h3 {
  font-size: 1em;
  line-height: 160%;
}

page h1 {
  margin: var(--defaultGap) 0px 0px 0px;
  font-size: 4em;
}

p,
subheader {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0px 0px 20px;
  width: 100%;
}

subheader {
  font-style: italic;
  padding: var(--defaultGap) var(--defaultGap) 0;
  width: calc(100% - (var(--defaultGap) * 2));
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

divider {
  display: flex;
  width: 100%;
  height: 1px;
  margin: 0px;
  background-color: black;
  opacity: 0.1;
}

app {
  display: flex;
  flex-direction: column;
  background: none;
  align-content: center;
  justify-content: start;
  align-items: center;
  height: 100%;
  max-width: var(--appMaxWidth);
  /* margin: calc((100vh - var(--appMaxHeight)) / 2) auto; */
  margin: 0 auto;
}

stage {
  touch-action: none;
  display: flex;
  background: var(--appBackground);
  height: 100%;
  max-height: var(--appMaxHeight);
  max-width: var(--appMaxWidth);
  flex-direction: column;
  justify-content: stretch;
}

page,
modal,
challenge {
  opacity: 0;
  pointer-events: none;
  display: flex;
  max-width: var(--appMaxWidth);
  max-height: var(--appMaxHeight);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: var(--appBackground);
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

modal.reversecolor {
  background: var(--appForeground);
  color: var(--appBackground);
}

challenge {
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  transition: 200ms ease-in-out all;
}

header,
section {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: auto;
  flex-direction: column;
  flex-basis: auto;
}

modal header,
modal section,
challenge section {
  max-width: 400px;
  padding: 1.5em var(--defaultGap);
  width: calc(100% - (var(--defaultGap) * 2));
}

playarea,
content {
  display: flex;
  width: 100%;
  margin-top: var(--chromeHeight);
  padding-top: calc(var(--defaultGap));
  padding-bottom: calc(var(--defaultGap));
  height: calc(100% - 50px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

content::-webkit-scrollbar {
  display: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  touch-action: auto;
  scroll-behavior: smooth;
}

page content {
  padding-bottom: var(--defaultGap);
  justify-content: space-between;
  overflow: hidden;
}

stage playarea {
  padding-bottom: var(--defaultGap);
  justify-content: center;
}

quit {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: 'Bangers';
  z-index: 1;
  cursor: pointer;
  align-items: center;
  padding-right: 20px;
  width: 110px;
  color: var(--color1);
}

modal {
  justify-content: start;
}

page.show,
modal.show {
  opacity: 1;
  pointer-events: all;
}

challenge.show {
  opacity: 1;
  pointer-events: all;
}

button {
  cursor: pointer;
  width: 250px;
  height: 44px;
  min-height: 44px;
  margin-bottom: 8px;
  color: white;
  border: 1px solid var(--color1);
  border-radius: var(--borderRadius);
  font-family: 'Bangers';
  font-size: 1.5em;
  letter-spacing: 2px;
  background-color: var(--color1);
  -webkit-tap-highlight-color: transparent;
}

button.primary,
.reversecolor button.secondary {
  background-color: var(--color1);
  border-color: var(--color1);
  color: white;
}

button.secondary,
.reversecolor button {
  background-color: var(--color2);
  border-color: var(--color2);
  color: white;
}

button.tertiary {
  background: var(--color3);
  border-color: var(--color3);
  color: var(--color3contrast);
  box-shadow: none;
}

.show button.pulse {
  animation: pulse 1s ease-in-out 0s infinite;
  -webkit-animation: pulse 1s ease-in-out 0s infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.02);
  }
}

@-webkit-keyframes pulse {
  50% {
    transform: scale(1.02);
  }
}

button.danger {
  color: var(--colorDanger);
  border: none;
  background: none;
  box-shadow: none;
  font-family: -apple-system, Verdana, sans-serif;
  font-size: 1em;
  letter-spacing: 0px;
  padding: 0;
  height: auto;
  width: auto;
  min-height: unset;
}

button:focus,
button:active {
  transform: translateY(1px);
}

smallbuttons {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 6px;
}

smallbuttons button {
  overflow: hidden;
  background: (--color1);
  padding: 0;
}

icon {
  display: block;
  mask-size: 24px 24px;
  -webkit-mask-size: 24px 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: white;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

icon.help {
  mask-image: url(../images/icon_question.svg);
  -webkit-mask-image: url(../images/icon_question.svg);
}

icon.medal {
  mask-image: url(../images/icon_medal.svg);
  -webkit-mask-image: url(../images/icon_medal.svg);
}

icon.settings {
  mask-image: url(../images/icon_settings.svg);
  -webkit-mask-image: url(../images/icon_settings.svg);
}

icon.copyright {
  mask-image: url(../images/icon_copyright.svg);
  -webkit-mask-image: url(../images/icon_copyright.svg);
}

icon.info {
  mask-image: url(../images/icon_info.svg);
  -webkit-mask-image: url(../images/icon_info.svg);
}

icon.share {
  mask-image: url(../images/icon_share.svg);
  -webkit-mask-image: url(../images/icon_share.svg);
}

icon.trophy {
  mask-image: url(../images/icon_trophy.svg);
  -webkit-mask-image: url(../images/icon_trophy.svg);
}

icon.rating {
  mask-size: 36px 36px;
  -webkit-mask-size: 36px 36px;
  mask-image: url(../images/icon_rating.svg);
  -webkit-mask-image: url(../images/icon_rating.svg);
}

icon.book {
  mask-image: url(../images/icon_book.svg);
  -webkit-mask-image: url(../images/icon_book.svg);
}
icon.reel {
  mask-image: url(../images/icon_reel2.svg);
  -webkit-mask-image: url(../images/icon_reel2.svg);
}

.show button,
.show button.primary,
.show button.secondary,
.show button.tertiary {
  animation: interactable 0.5s forwards;
  -webkit-animation: interactable 0.5s forwards;
}

button.update {
  position: absolute;
  margin-top: var(--defaultGap);
}

@keyframes interactable {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}

@-webkit-keyframes interactable {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}

header {
  display: flez;
  width: 100%;
}

chrome {
  height: var(--chromeHeight);
  width: 100%;
  max-width: var(--appMaxWidth);
  padding: 0px;
  display: flex;
  position: fixed;
  z-index: 100;
  background: rgba(240, 240, 240, 0.95);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
  flex-basis: auto;
  background-color: var(--appBackground);
  color: var(--appForeground);
  font-size: 0.9em;
  transition: 0s ease-in-out all;
}

.show chrome button,
chrome button {
  font-size: 1em;
  font-family: -apple-system, Verdana, sans-serif;
  background: none;
  background-color: var(--appBackground);
  color: var(--appForeground);
  border: none;
  border-color: var(--appBackground);
  letter-spacing: 0px;
  height: 40px;
  display: flex;
  text-transform: capitalize;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  padding: 0px 20px;
  margin: 0;
}

.show chrome button:last-of-type,
chrome button:last-of-type {
  justify-content: flex-end;
}

modal chrome {
  justify-content: flex-end;
}

modal img {
  width: 80%;
}

leftright {
  display: flex;
  width: calc(70%);
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0px;
  font-size: 0.9em;
  padding: 1px 9px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: var(--borderRadius);
  margin-bottom: 4px;
}

leftright right {
  font-weight: 600;
}

leftright:first-of-type {
  margin-top: 10px;
}

leftright.current {
  background: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  color: var(--color2);
}

leftright.current left {
  color: transparent;
}

leftright.current:before {
  content: 'NEW!';
  font-weight: bold;
}

scorearea {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  flex-direction: column;
}

currentscore {
  width: 100%;
  padding-top: 2px;
  letter-spacing: 2px;
  font-size: 3em;
  font-family: 'Bangers';
  color: black;
  justify-content: center;
  line-height: 100%;
}

scoretype {
  font-size: 0.5em;
  width: 100%;
  padding: 1px 0px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
  color: var(--color1);
}

credit {
  font-size: 0.8em;
}

page img {
  width: 50%;
  margin: 0px auto;
  display: block;
}

modes {
  display: flex;
  column-gap: 10px;
  margin: 20px 0px 0px;
}

mode {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}

mode.selected {
  font-weight: bold;
}

mode value {
  text-transform: capitalize;
  margin-top: 4px;
  display: block;
}

description {
  display: block;
  font-style: italic;
  font-size: 0.8em;
  padding: 0px 40px;
  margin: 10px 0px 30px;
  height: 1.5em;
  color: var(--color1);
}

version {
  display: block;
  font-size: 0.7em;
  width: 100%;
  padding: 0;
  text-align: center;
  opacity: 0.9;
}

logo {
  cursor: pointer;
  display: block;
  background: url(../images/big_tent_logo.svg);
  width: 130px;
  height: 105px;
  background-size: cover;
  margin-top: 60px;
  opacity: 0.8;
}

time {
  font-weight: bold;
  pointer-events: none;
  display: block;
  text-align: center;
}

.bigpulse {
  color: red;
  animation: bigpulse 0.75s ease-in-out 0s infinite;
  -webkit-animation: bigpulse 0.75s ease-in-out 0s infinite;
}

@keyframes bigpulse {
  50% {
    transform: scale(1.3);
  }
}

@-webkit-keyframes bigpulse {
  50% {
    transform: scale(1.3);
  }
}

addtime {
  display: block;
  transform: translateY(-80px);
  font-family: 'Bangers';
  font-size: 1.5em;
  scroll-padding-block-start: black;
  transition-delay: 200ms;
  transition: 2000ms ease-in-out all;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: visible;
  line-height: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

addtime.flyaway {
  pointer-events: none;
  transition: 0ms linear none;
  transform: translateY(-20px);
  opacity: 1;
}

me {
  display: flex;
  justify-content: center;
}

board {
  display: flex;
  width: calc(100% - 20px);
  /* min-height: var(--boardHeight); */
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 4px;
  column-gap: 4px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: var(--defaultGap) 10px;
}

piece {
  transform: translateY(-600px);
  transition: 00ms ease-out transform;
  cursor: pointer;
}

piece.dropped,
me piece,
page piece,
modal me piece {
  transition: 300ms ease-out transform;
  transform: translateY(0) scale(1);
  border-radius: var(--borderRadius);
}

stage me {
  padding: 0px 0px 0px;
}

stage me piece {
  margin: 20px 0px 0px;
  transform: translateY(0) scale(1.1);
}

modal me piece gild {
  mask-image: var(--shape1);
  -webkit-mask-image: var(--shape1);
  background-color: var(--color2);
  background-image: var(--bgImage1);
}

modal examples {
  display: flex;
  flex-direction: row;
  /* transform: scale(0.8); */
  column-gap: 8px;
}

modal examples:last-of-type {
  margin-top: 8px;
}

modal examples piece {
  cursor: default;
  transform: translateY(0px);
}

modal examples piece,
modal examples piece gild {
  width: calc(var(--pieceSize) * 0.8);
  height: calc(var(--pieceSize) * 0.8);
  mask-size: calc(var(--pieceSize) * 0.8);
  -webkit-mask-size: calc(var(--pieceSize) * 0.8);
}

hint,
notification {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  line-height: 160%;
  opacity: 0;
  position: absolute;
  z-index: 200;
  overflow: visible;
  pointer-events: none;
  width: calc(var(--appMaxWidth) - var(--defaultGap) * 4);
  margin: calc(var(--chromeHeight)) var(--defaultGap);
  padding: 16px var(--defaultGap);
  border: 1px solid var(--color2);
  border-width: 6px 0px 0px;
  color: var(--appForeground);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  transform: translateY(-10px);
  transition: 200ms ease-in-out;
  transition-property: transform, opacity;
  height: 48px;
  border-radius: var(--borderRadius);
  align-items: center;
}

notification {
  /* max-width: calc(100% - (var(--defaultGap) * 4)); */
  z-index: 2000;
  background-color: var(--appForeground);
  color: var(--appBackground);
}

closebutton {
  display: block;
  float: right;
  margin-top: -12px;
  margin-right: -16px;
}

hint message {
  display: block;
  width: 100%;
  line-height: 140%;
}

checkbox {
  display: flex;
  line-height: 140%;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 6px 10px 14px;
  margin-top: 10px;
  cursor: pointer;
  width: calc(100% - 20px);
  border-radius: var(--borderRadius);
  background: white;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

checkbox toggle {
  box-shadow: inset 0px 1px 4px hsla(0, 0%, 0%, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 8px;
  width: 46px;
  height: 26px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  overflow: hidden;
}

checkbox:after {
  content: '(off)';
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 0.7;
  display: none;
  position: absolute;
  transform: translateX(64px);
}

checkbox.on:after {
  content: '(on)';
  opacity: 1;
  color: var(--color2);
}

checkbox toggle:before {
  content: ' ';
  display: block;
  margin: 2px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  font-family: 'Bangers';
  transition: 100ms ease-in-out transform;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

checkbox.on toggle {
  background-color: var(--color2);
}

checkbox.on toggle:before {
  transform: translateX(20px);
}

themes {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 8px;
  flex-wrap: wrap;
}

theme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 0px 6px;
  border-radius: var(--borderRadius);
  row-gap: 0px;
  cursor: pointer;
  font-size: 0.9em;
  width: 25%;
  -webkit-tap-highlight-color: transparent;
}

theme.selected {
  background: white;
  box-shadow: inset 0px 1px 4px hsla(0, 0%, 0%, 0.4);
  font-weight: bold;
}

colors {
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  width: 60px;
  height: 60px;
  margin: 8px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 60px;
}

color {
  display: flex;
  width: 100%;
  height: 20px;
}

name {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

hint.show,
notification.show {
  pointer-events: all;
  transform: translateY(0px);
  opacity: 1;
}

piece,
piece gild {
  width: var(--pieceSize);
  height: var(--pieceSize);
  display: block;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  mask-size: var(--pieceSize), var(--pieceSize);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-origin: fill-box;
  -webkit-mask-size: var(--pieceSize), var(--pieceSize);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-origin: fill-box;
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility: visible;
  -webkit-tap-highlight-color: transparent;
}

mode.selected piece,
piece.selected {
  box-shadow: inset 0px 1px 4px hsla(0, 0%, 0%, 0.4);
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
}

me piece {
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
  background: white;
}

me.pushed piece,
me piece:focus,
me piece:active {
  transform: translateY(2px) scale(1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

stage me piece:focus,
stage me piece:active {
  transform: translateY(2px) scale(1.1);
}

stage me.nope piece {
  animation: nope 0.15s linear 0s 3;
  -webkit-animation: nope 0.15s linear 0s 3;
}

@keyframes nope {
  33% {
    transform: translate(2px) scale(1.1);
  }
  66% {
    transform: translate(-2px) scale(1.1);
  }
}

@-webkit-keyframes nope {
  33% {
    transform: translate(2px) scale(1.1);
  }
  66% {
    transform: translate(-2px) scale(1.1);
  }
}

clears {
  display: block;
  padding: 0px 20px;
  width: 90px;
  text-align: left;
}

me {
  margin-top: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

gameover {
  display: flex;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--appMaxWidth);
  margin-top: 100px;
}

#copyme {
  width: 0px;
  height: 0px;
  line-height: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  opacity: 0;
}

newhigh {
  cursor: pointer;
  display: block;
  padding: 20px;
  color: var(--color2);
  font-weight: bold;
}

gameover h2 {
  margin-top: var(--defaultGap);
}

@media only screen and (max-width: 500px) {
  app {
    margin: 0 auto;
  }
  wallpaper {
    display: none;
  }

  currentscore {
    margin: 0px;
  }

  board {
    margin: 4px 10px;
    padding: 0px;
  }

  me {
    margin: 0;
    padding: 0;
  }

  mode value {
    font-size: 0.9em;
  }

  h3,
  p {
    font-size: 0.9em;
    padding-left: 0;
    padding-right: 0;
  }

  subheader {
    font-size: 0.9em;
  }

  hint,
  notification {
    font-size: 0.9em;
    height: 36px;
    width: calc(100% - (var(--defaultGap) * 4));
    padding: 16px var(--defaultGap) 16px;
    margin: calc(var(--chromeHeight) + var(--defaultGap)) var(--defaultGap);
  }

  notification {
    margin: var(--defaultGap);
  }

  challenge {
    margin-top: var(--chromeHeight);
    height: calc(100% - var(--chromeHeight));
  }

  time.alert {
    color: white;
  }
}
