@font-face {
  font-family: 'Bangers';
  src: url('../fonts/Bangers-Regular.ttf');
}

:root {
  --appBackground: hsl(0, 0%, 94%);
  --appForeground: hsl(0, 0%, 31%);
  --targetX: 50%;

  --pieceSize: 110px;

  --color1: hsl(313, 44%, 25%);
  --color2: hsl(187, 42%, 46%);
  --color3: hsl(64, 60%, 53%);

  --shape1: url(images/Square.svg);
  --shape2: url(images/Circle.svg);
  --shape3: url(images/Triangle.svg);
  --shape4: url(images/Hexagon.svg);
  --infinity: url(images/Infinity.svg);

  --bgImage1: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0.5) 16px, rgba(255, 255, 255, 0) 16px, rgba(255, 255, 255, 0) 32px);
  --bgImage2: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 7px);
  --bgImage3: repeating-radial-gradient(circle, rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0.5) 14.5%, rgba(255, 255, 255, 0) 14.5%, rgba(255, 255, 255, 0) 29%);
  --bgImage4: none;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--appForeground);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background: repeating-linear-gradient(90deg, rgb(80 80 80) 0px, rgb(80 80 80) 40px, rgb(74 74 74) 40px, rgb(74 74 74) 80px);
  user-select: none;
  -webkit-user-select: none;
}

body {
  max-width: 500px;
  height: 100%;
  margin: 0px auto;
  overflow: visible;
  background: rgb(240, 240, 240);
  line-height: 160%;
}

[v-cloak] {
  transition: 250ms ease-out opacity;
  opacity: 0;
}

.disabled,
:disabled {
  pointer-events: none;
  opacity: 0.05;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers';
  margin: 80px 0px 0px 0px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: 2px;
  color: hsl(0, 0%, 11%);
}

h1 {
  font-size: 3em;
}

home h1 {
  font-size: 4em;
}

p {
  text-align: center;
  margin: 0;
  padding: 0px 30px 20px;
  max-width: calc(100% - 60px);
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

divider {
  display: flex;
  width: 100%;
  height: 1px;
  margin: 0px;
  background-color: black;
  opacity: 0.2;
}

app {
  display: flex;
  align-content: center;
  justify-content: center;
  /* align-items: center;
  flex-direction: column; */
  height: 100%;
}

stage {
  display: flex;
  max-width: 500px;
  margin: 0px auto;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: 0px 0px 40px black;
}

home,
howto {
  display: block;
  max-width: 500px;
  width: 100%;
  height: 100%;
  background: var(--appBackground);
  margin: 0px auto;
}

section {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
}

section:last-of-type {
  margin-bottom: 6em;
}

playarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 50px);
}

quit {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: 'Bangers';
  z-index: 1;
  cursor: pointer;
  align-items: center;
  padding-right: 20px;
  width: 110px;
  color: var(--color1);
}

home,
howto {
  position: absolute;
  z-index: 1000;
  background: var(--appBackground);
  display: none;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

home.show,
howto.show {
  display: flex;
}

button {
  cursor: pointer;
  width: 250px;
  height: 46px;
  min-height: 46px;
  margin-top: 16px;
  /* box-shadow: 0px 5px 5px rgb(0 0 0 / 20%); */
  color: white;
  border: 1px solid var(--color1);
  border-radius: 6px;
  font-family: 'Bangers';
  font-size: 1.5em;
  letter-spacing: 2px;
  background-color: var(--color1);
}

button:first-of-type {
  margin-top: 20px;
}

button.primary {
  background-color: var(--color1);
  border-color: var(--color1);
  color: white;
}

button.secondary {
  background-color: var(--color2);
  border-color: var(--color2);
  color: white;
}

button.tertiary {
  background: var(--appBackground);
  border-color: var(--color2);
  color: var(--color2);
  box-shadow: none;
}

button:focus,
button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

home img {
  width: 50%;
  margin: 0px auto;
  display: block;
}

modes {
  display: flex;
  column-gap: 10px;
  margin: 20px 0px 0px;
}

chrome {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
}

howto chrome {
  justify-content: flex-end;
}

howto h1 {
  margin-top: 30px;
}

howto img {
  width: 70%;
}

version {
  display: block;
  font-size: 0.7em;
  width: 100%;
  padding: 0px;
  text-align: center;
  position: absolute;
  bottom: 14px;
  opacity: 0.9;
}

logo {
  cursor: pointer;
  display: block;
  background: url(../images/big_tent_logo.svg);
  width: 130px;
  height: 105px;
  background-size: cover;
  margin-top: 60px;
  opacity: 0.8;
}

time {
  pointer-events: none;
  display: block;
  text-align: center;
  max-width: 460px;
}

addtime {
  display: block;
  transform: translateY(-80px);
  font-family: 'Bangers';
  font-size: 1.5em;
  scroll-padding-block-start: black;
  transition-delay: 200ms;
  transition: 2000ms ease-in-out all;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: visible;
  line-height: 0;
  padding: 0;
  margin: 0;
}

addtime.flyaway {
  transition: 0ms linear none;
  transform: translateY(-20px);
  opacity: 1;
}

puzzle {
  display: flex;
  justify-content: center;
}

board {
  display: flex;
  width: calc(100% - 20px);
  min-height: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 6px;
  column-gap: 6px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 50px;
}

piece {
  /* opacity: 0; */
  transform: translateY(-600px);
  transition: 00ms ease-out all;
  cursor: pointer;
}

piece.dropped,
me piece,
home piece,
howto piece {
  /* opacity: 1; */
  transition: 300ms ease-out all;
  transform: translateY(0) scale(1);
  border-radius: 6px;
}

me piece {
  margin: 20px 0px;
  transform: translateY(0) scale(1.2);
}

howto piece {
  /* transform: translateY(0) scale(1.2); */
}

piece,
piece gild {
  width: var(--pieceSize);
  height: var(--pieceSize);
  display: block;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  mask-size: var(--pieceSize), var(--pieceSize);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-origin: fill-box;
  -webkit-mask-size: var(--pieceSize), var(--pieceSize);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-origin: fill-box;
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility: visible;
}

piece gild {
  width: var(--pieceSize);
  height: var(--pieceSize);
  display: block;
}

piece gild img {
  opacity: 0;
}

piece.selected {
  box-shadow: inset 0px 1px 4px hsla(0, 0%, 0%, 0.4);
  background: hsl(0, 0%, 100%);
}

puzzle piece,
howto piece {
  width: var(--pieceSize);
  height: var(--pieceSize);
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 8px;
  background: white;
}

puzzle piece gild {
  width: var(--pieceSize);
  height: var(--pieceSize);
}

puzzle piece:focus,
puzzle piece:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

me piece:focus,
me piece:active {
  transform: translateY(2px) scale(1.2);
}

puzzle.nope piece {
  animation: nope 0.15s linear 0s 3;
  -webkit-animation: nope 0.15s linear 0s 3;
}

@keyframes nope {
  33% {
    transform: translate(3px) scale(1.2);
  }
  66% {
    transform: translate(-3px) scale(1.2);
  }
}

@-webkit-keyframes nope {
  33% {
    transform: translate(3px) scale(1.2);
  }
  66% {
    transform: translate(-3px) scale(1.2);
  }
}

clears {
  display: block;
  padding: 0px 20px;
  width: 90px;
}

me {
  margin-top: 0px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

gameover {
  display: flex;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 100px;
}

gameover h1 {
  font-size: 3em;
}

@media only screen and (max-width: 500px) {
  quit {
    align-items: center;
  }

  divider {
    margin: 10px 0;
  }

  howto img {
    width: 80%;
  }

  board {
    margin: 20px 10px;
    padding: 0px;
  }

  me {
    margin: 0;
    padding: 0 0 20px;
  }
}
