:root {
  --appBackground: 0, 0%, calc(100% - 98%);
  --appBackgroundStrong: 0, 0%, calc(100% - 96%);
  --appBackgroundStronger: 0, 0%, calc(100% - 94%);
  --appBackgroundStrongest: 0, 0%, calc(100% - 90%);
  --appBackgroundWeak: 0, 0%, calc(100% - 89%);
  --appBackgroundWeakest: 0, 0%, calc(100% - 80%);
  --appForeground: 0, 0%, calc(100% - 27%);
  --appForegroundStrong: 0, 0%, calc(100% - 10%);
  --appForegroundStrongest: 0, 0%, calc(100% - 0%);
  --appForegroundWeak: 0, 0%, calc(100% - 39%);
  --patternHSL: 0, 0%, 0%;
  --patternOpacity: 1;

}

piece gild {
  mix-blend-mode: soft-light;

}

mode.selected piece,
piece.selected {
  box-shadow: inset 0px 0px 4px hsla(var(--appForeground), 0.7);
  background: hsl(var(--appBackgroundStrong));
}

me piece {
  box-shadow: inset 0px 5px 5px hsla(var(--appForeground), 0.5);
  background: hsl(var(--appBackgroundStrong));
}

me.pushed piece,
me piece:focus,
me piece:active {
  box-shadow: inset 0px 2px 2px hsla(var(--appForeground), 0.7);
  background: hsl(var(--appBackgroundStrong));
}

description,
labelsmall {
  color: var(--color3);
}

button.primary {
  background-color: var(--color2);
  border-color: var(--color2);
}

button.secondary {
  background-color: var(--color1);
  border-color: var(--color1);
}

.show button.quaternary,
button.quaternary {}

time {
  color: var(--color3);
}

.quaternary icon {
  background-color: var(--color3);
}